.icon-container {
    width: 64;
    height: 64;
  }
  
  .icon-default,
  .icon-hover {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s ease;
  }
  
  .icon-hover {
    opacity: 0;
  }
  
  .icon-container:hover .icon-default {
    opacity: 0;
  }
  
  .icon-container:hover .icon-hover {
    opacity: 1;
  }