@font-face {
	font-family: 'cyberFont';
	src: url('/glitch-goblin-font/GlitchGoblin-2O87v.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'cyber4';
	src: url('/ponderosa/ponde___.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'cyber5';
	src: url('/kongtext/kongtext.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'russian';
	src: url('/IBMPlexMono-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
